# Paste your deployed Apps Script Web App URL here
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxLTQSjr5pnKW7188lbNKTNYCn7gTBoMtssgMAhxCdZfQIIgSB5EizCkNIErI6LgsI0/exec

# Google Drive folder ID for image uploads
NEXT_PUBLIC_DRIVE_FOLDER_ID=1tv5NQKv2aFUhPtzCTmVT9l3_pkHu_6Yj
